@import url('https://fonts.googleapis.com/css?family=Arapey');

$primary: #F5F5F4;
$secondary: #967B9D;
$third: #A6A1BA;
$forth: #8071AB;
$fifth: #381763;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $primary;
    font-family: '';

    h1 {
        font-size: 2em;
        text-align: center;
        padding-top: 20%;
        margin-bottom: 1vh;
        margin-top: 0vh;
    }

    p {
        text-align: center;
        margin-top: 0;
    }

    a {
        color: white;
        text-decoration: none;
        background-color: $forth;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
        justify-content: space-between;

        .logo {
            font-weight: bold;
        }

        ul {
            display: flex;
            
            li a {
                padding: 0 .6em;
            }

            li {
                background-color: $forth;
            }
        }
    }

    .wrapper {
        padding: 1.5em;
        margin: 0 auto;
    }
}

section {
    padding: 0em;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    background-color: $fifth;

    blockquote {
        font-size: 2em;
        width: 30%;
        margin-top: 17%;
        position: absolute;
        
        span {
            width: 70%;
            background: $third;
            display: block;
            height: 5px;
            margin-top: 10px;
        }
    }

    img {
        position: absolute;
        height: 50vh;
        width: 50vh;
        margin-right: 1vh;
    }

    img:nth-of-type(1) {
        right: 0;
    }

    img:nth-of-type(2) {
        right: 50vh;
        top: 50%;
    }

    #anna {
        padding-top: 0;
    }
}


.sticky {
    background-color: $forth;
}

#box {
    width: 99vh;
    height: 98vh;
    position: absolute;
    border: 6vh solid purple;
    right: 0;
    margin-right: 1vh;
    margin-top: 1vh;
}